<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" type="image/png" href="/images/favicon.ico">
  </head>
  <body>
    <h1><%= title %></h1>
    <table>
      <% for(var i in content) { %>
      <tr>
        <% var obj = content[i]; %>
        <td><%= obj.companyCode %></td>
        <td><%= obj.workStartHour %></td>
        <td><%= obj.workStartMinute %></td>
        <td><%= obj.workEndHour %></td>
        <td><%= obj.workEndMinute %></td>
      </tr>
      <% } %>
    </table>
  </body>
</html>
